
pocket.directory=

mister.main.directory=
mister.usb.directory=

# This is the local working directory. Check the README for more information
utility.directory=

github.jotego.directory=

boxart.source.url=https://raw.githubusercontent.com/libretro-thumbnails/%s/master/Named_Boxarts/

romzip.source.url=
romzip.hbsource.url=

hibernate.connection.url.local=
hibernate.connection.username.local=
hibernate.connection.password.local=

