
pocket.directory=

# This is where command line programs are kept
utility.directory=

boxart.source.url=

romzip.source.url=
romzip.hbsource.url=

hibernate.connection.url.local=
hibernate.connection.username.local=
hibernate.connection.password.local=

