
pocket.directory=

# This is where command line programs are kept
utility.directory=

boxart.source.url=
boxart.storage.directory=

romzip.source.url=
romzip.hbsource.url=
romzip.storage.directory=

# This is where MRA files go to be processed by "SortPrepareMRAFiles"
processing.mra.directory=

# This is where image files are placed after being converted by "CollectProcessLibraryThumbnails"
# This is also where "make_library_images.sh" looks to convert these files into bin for the Pocket to read.
processing.library.directory=

hibernate.connection.url.local=
hibernate.connection.username.local=
hibernate.connection.password.local=

