<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        -->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hbm2ddl.auto">update</property>
        <!--
        -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>

        <mapping class="com.schlock.pocket.entites.PocketGame" />
        <mapping class="com.schlock.pocket.entites.PocketCore" />
        <mapping class="com.schlock.pocket.entites.PocketCoreCategory" />
        <mapping class="com.schlock.pocket.entites.PlaystationGame" />

    </session-factory>
</hibernate-configuration>